* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:root {
  --main-color: #ADD8E6;
  --second-color: #F5F5F5;
  --border-color: rgb(60, 87, 177);
  --button-color: rgb(118, 144, 233);
  --fourth-color: rgb(88, 121, 230);
  --font-color: black;
  --gradient-color: rgba(70,166,252);
  --input-color: white;
  --todobutton-color: rgb(239, 239, 239);
  --body-color: white;
  --progress-color: #32CD32;
  --popunderline-color: rgb(88, 121, 230);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: var(--font-color);
  background-color: var(--body-color);
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 3fr;
      grid-template-columns: 5fr 3fr;
  -ms-grid-rows: 1fr 5fr;
      grid-template-rows: 1fr 5fr;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  width: 70%;
  background-color: var(--main-color);
  min-height: 90vh;
  border-radius: 15px;
  padding: 20px;
  -webkit-box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
          box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
  border: 2px solid var(--border-color);
  background: radial-gradient(circle, var(--main-color) 0%, var(--gradient-color) 100%);
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr;
      grid-template-columns: 2fr 4fr;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  background-color: var(--second-color);
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 2px solid var(--border-color);
  border-bottom: none;
  -webkit-box-shadow: 4px 7px 5px rgba(82, 82, 82, 0.4);
          box-shadow: 4px 7px 5px rgba(82, 82, 82, 0.4);
  z-index: 1;
}

.header__h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: bold;
  font-size: 32px;
  border-right: 3px dashed var(--main-color);
  border-top: 3px dashed var(--main-color);
  border-bottom: 3px dashed var(--main-color);
  padding: 30px 0px 30px 20px;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  font-size: 12px;
  margin-top: 10px;
}

.search-form__text-input {
  width: 90%;
  border-radius: 10px;
  padding: 3px;
  height: 30px;
  background-color: var(--input-color);
}

.search-form__p {
  width: 40%;
  margin-top: 15px;
  font-weight: bold;
  margin-right: 10px;
}

.search-form__radio {
  margin-top: 15px;
  margin-right: 0px;
}

.search-form__label {
  padding-right: 10px;
  margin-top: 15px;
  text-align: left;
  padding-left: 5px;
}

.search-form__select {
  width: 40%;
  height: 18px;
  margin-top: 14px;
  border-radius: 3px;
  background-color: var(--input-color);
}

.toDo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
  background-color: var(--second-color);
  border: 2px solid var(--border-color);
  border-top: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 4px 7px 5px rgba(82, 82, 82, 0.4);
          box-shadow: 4px 7px 5px rgba(82, 82, 82, 0.4);
  z-index: 2;
}

.toDO__underline {
  margin-top: 20px;
  border-radius: 2px;
  width: 80%;
  height: 4px;
  background-color: var(--main-color);
  -webkit-box-shadow: 0px 0px 3px var(--main-color);
          box-shadow: 0px 0px 3px var(--main-color);
}

.toDo__delete-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: 30px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--button-color);
  font-weight: bold;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: background-color .3s , opacity .3s;
  transition: background-color .3s , opacity .3s;
}

.toDo__delete-all:hover {
  background-color: var(--fourth-color);
}

.toDo__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  width: 80%;
  margin-top: 15px;
}

.toDo__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 2px solid var(--progress-color);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.toDo__li--hidden {
  display: none;
}

.toDo__li--hidden-textInput {
  display: none;
}

.toDo__li--ordered-one {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.toDo__li--ordered-two {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.toDo__li--important {
  border-bottom: 2px solid #FFA500;
}

.toDo__li--important .button-box__important {
  background-color: #FFA500;
}

.button-box__important {
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.button-box__important:hover {
  background-color: #FFA500;
}

.toDo__li--done {
  border-bottom: 2px solid #505050;
}

.toDo__li--done .button-box__done-button {
  background-color: var(--progress-color);
}

.toDo__li--done .task__text {
  text-decoration: line-through;
}

.button-box__done-button {
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.button-box__done-button:hover {
  background-color: var(--progress-color);
}

.button-box__edit-button {
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.button-box__edit-button:hover {
  background-color: #FFFF00;
}

.button-box__delete-button {
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.button-box__delete-button:hover {
  background-color: tomato;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task__date {
  margin-top: 4px;
}

.button-box button {
  margin-left: 1px;
  width: 18px;
  cursor: pointer;
  padding: 1px 0px;
  background-color: var(--todobutton-color);
}

.button-box button:first-child {
  width: 38px;
}

.aside-content {
  max-height: 100vh;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/3/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--second-color);
  width: 90%;
  height: 35%;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
          box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
  border: 2px solid var(--border-color);
  padding: 20px;
}

.add-task__h2 {
  text-align: center;
  font-size: 18px;
}

.add-task__form {
  height: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 10% 90%;
      grid-template: 1fr 1fr 1fr 1fr / 10% 90%;
  margin-top: 10px;
}

.add-task__text-input {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 30px;
  border-radius: 5px;
  padding: 3px;
  background-color: var(--input-color);
}

.add-task__label {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
}

.add-task__importance-input {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
  margin-top: 2px;
}

.add-task__add-button {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4/1/5/3;
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--button-color);
  font-weight: bold;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.add-task__add-button:hover {
  background-color: var(--fourth-color);
}

.add-task__error {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
  color: tomato;
  visibility: hidden;
}

.tasks-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--second-color);
  width: 90%;
  height: 50%;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
          box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
  border: 2px solid var(--border-color);
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.task-counter__underline {
  height: 3px;
  background-color: var(--main-color);
  width: 55%;
  margin-bottom: 20px;
  margin-top: 2px;
}

.task-counter__underline:first-of-type {
  width: 70%;
  height: 4px;
}

.task-counter__progress-number {
  font-size: 44px;
  color: var(--progress-color);
}

.task-counter__in-progress {
  font-size: 22px;
  text-transform: uppercase;
}

.task-counter__important-number {
  color: #FFA500;
  font-size: 26px;
}

.task-counter__important {
  font-size: 18px;
}

.task-counter__all-number {
  color: #008000;
  margin-bottom: 5px;
  font-size: 26px;
  color: #505050;
}

.task-counter__all {
  font-size: 18px;
}

.color-select {
  background-color: var(--second-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 10%;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
          box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
  border: 2px solid var(--border-color);
  padding: 10px;
}

.color-select__h2 {
  text-align: center;
  font-size: 18px;
}

.color-select__ligt {
  width: 40%;
  height: 85%;
  background-color: #E8E8E8;
  border-radius: 10px;
  margin-right: 20px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  cursor: pointer;
}

.color-select__ligt:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.color-select__text--light {
  font-weight: bold;
}

.color-select__dark {
  width: 40%;
  height: 85%;
  background-color: #707070;
  border-radius: 10px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  cursor: pointer;
}

.color-select__dark:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.color-select__text--dark {
  color: white;
  font-weight: bold;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 32%;
  position: absolute;
  z-index: 10;
  background-color: var(--main-color);
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.popup__h {
  font-size: 26px;
  margin-top: 10px;
}

.popup__underline {
  position: relative;
  top: -5px;
  width: 60%;
  height: 4px;
  background-color: var(--popunderline-color);
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 3px var(--popunderline-color);
          box-shadow: 0px 0px 3px var(--popunderline-color);
}

.popup__input {
  width: 90%;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: var(--input-color);
}

.popup__accept {
  width: 25%;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--button-color);
  font-weight: bold;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  padding: 5px;
  margin-bottom: 5px;
}

.popup__accept:hover {
  background-color: var(--fourth-color);
}

.popup__cancel {
  position: absolute;
  right: 15px;
  top: 7px;
  border: none;
  background-color: var(--main-color);
  width: 10px;
  height: 10px;
  font-size: 20px;
  cursor: pointer;
}

.popup__error {
  font-size: 20px;
  color: red;
  visibility: hidden;
  padding: 10px;
  padding-bottom: 15px;
}

.popup__form {
  width: 100%;
  text-align: center;
}

.visible {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */